/**
 * D8/F6 Basic Theme base CSS file.
 */

.content__sidebar .block__wrapper {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  position: relative;
  color: #0a0a0a;
  background-color: #ecf8ff;
}

.content__sidebar .block__wrapper > :first-child {
  margin-top: 0;
}

.content__sidebar .block__wrapper > :last-child {
  margin-bottom: 0;
}

.menu-bar__wrapper {
  padding: 0;
}

.menu-bar__wrapper .title-bar {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.breadcrumbs {
  margin: 1rem;
}

.tabs,
.tabs--primary,
.tabs--secondary {
  border-bottom: 2px solid #e6e6e6;
  margin: 1rem 0;
}

.tabs a,
.tabs--primary a,
.tabs--secondary a {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  margin-right: 0.5rem;
}

.tabs li:first-child a,
.tabs--primary li:first-child a,
.tabs--secondary li:first-child a {
  margin-left: 0.5rem;
}

.tabs a.is-active,
.tabs--primary a.is-active,
.tabs--secondary a.is-active {
  background-color: #fefefe;
}

.content__main,
.content__sidebar,
.content__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
